<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
</head>

<body>
<div>
  <h2>Spring Boot CRUD System - Medicine Registration</h2>
  <div align="left">
    <h3><a th:href="@{/new}">Add new</a></h3>
    <h3 th:text="${admin.name}"></h3>
    <h3><a th:href="@{/searchform}">Search</a></h3>

  </div>

  <div class="container">
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th>Medicine ID</th>
        <th>Medicine Name</th>
        <th>Date of Manufacture</th>
        <th>Price</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="medicine : ${listMedicines}">
        <td th:text="${medicine.id}">Medicine ID</td>
        <td th:text="${medicine.medicineName}">Medicine Name</td>
        <td th:text="${medicine.dateOfManufacture}">Date of Manufacture</td>
        <td th:text="${medicine.price}">Price</td>
        <td>
          <a th:href="@{/edit/} + ${medicine.id}">Edit</a>
        </td>
        <td>
          <a th:href="@{/delete/} + ${medicine.id}">Delete</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>

</html>
